<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.citypass">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--//0.0.9需要新增权限  -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".cotroller.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cotroller.LoginActivity" />
        <activity android:name=".cotroller.PasswordActivity" />
        <activity android:name=".cotroller.RegisterActivity" />
        <activity android:name=".cotroller.CooperationActivity" />
        <activity android:name=".cotroller.activity.MyWebActivity" />
        <activity android:name=".cotroller.activity.FaXianMeiNvActivity" />
        <activity android:name=".cotroller.activity.FaXianActionActivity" />
        <activity android:name=".cotroller.activity.FaXianLottoActivity" />
        <activity android:name=".cotroller.activity.FaXianCityActivity" />
        <activity android:name=".cotroller.toutiao.CityFoloActivity" />
        <activity android:name=".cotroller.SettingActivity" />
        <activity android:name=".cotroller.fragment.FeedBackActivity" />
        <activity android:name=".cotroller.ReminberActivity" />
        <activity android:name=".cotroller.ModifyActivity" />
        <activity android:name=".cotroller.AboutActivity" />
        <activity android:name=".cotroller.AboutActivity2" />
        <activity android:name=".cotroller.toutiao.TtrecyclerXQActivity" />
        <activity android:name=".cotroller.toutiao.SetCityActivity" />
        <activity android:name=".cotroller.fragment.webview.WebViewActivity" />
        <activity android:name=".cotroller.activity.FaXianPerfectActivity" />
        <activity android:name=".cotroller.InforActivity" />
        <activity android:name=".cotroller.activity.shequ.SouSuoActivity" />
        <activity android:name=".cotroller.LevelActivity" />
        <activity android:name=".cotroller.BlackActivity" />
        <activity android:name=".cotroller.PhoneActivity" />
        <activity android:name=".cotroller.MailActivity" />
        <activity android:name=".cotroller.activity.naonao.NaoNao_Carmer_Activity" />
        <activity android:name=".cotroller.PersonalActivity" />
        <activity android:name=".cotroller.toutiao.MessageNotificationActivity" />
        <activity android:name=".cotroller.toutiao.MaillistActivity"></activity>
        <activity android:name=".cotroller.activity.shequ.SouSuoActivity" />
        <activity android:name=".cotroller.LevelActivity" />
        <activity android:name=".cotroller.BlackActivity" />
        <activity android:name=".cotroller.PhoneActivity" />
        <activity android:name=".cotroller.MailActivity" />
        <activity android:name=".cotroller.activity.naonao.NaoNao_Carmer_Activity" />
        <activity android:name=".cotroller.PersonalActivity" />
        <activity android:name=".cotroller.activity.naonao.Title_Detail_NaoNao_Activity"></activity>
    </application>

</manifest>