<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.citypass">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--//0.0.9需要新增权限  -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".cotroller.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cotroller.fragment.information.LoginActivity" />
        <activity android:name=".cotroller.fragment.information.PasswordActivity" />
        <activity android:name=".cotroller.fragment.information.RegisterActivity" />
        <activity android:name=".cotroller.fragment.information.CooperationActivity" />
        <activity android:name=".cotroller.activity.MyWebActivity" />
        <activity android:name=".cotroller.activity.FaXianMeiNvActivity" />
        <activity android:name=".cotroller.activity.FaXianActionActivity" />
        <activity android:name=".cotroller.activity.FaXianLottoActivity" />
        <activity android:name=".cotroller.activity.FaXianCityActivity" />
        <activity android:name=".cotroller.fragment.toutiao.CityFoloActivity" />
        <activity android:name=".cotroller.fragment.information.SettingActivity" />
        <activity android:name=".cotroller.fragment.information.FeedBackActivity" />
        <activity android:name=".cotroller.fragment.information.ReminberActivity" />
        <activity android:name=".cotroller.fragment.information.ModifyActivity" />
        <activity android:name=".cotroller.fragment.information.AboutActivity" />
        <activity android:name=".cotroller.fragment.information.AboutActivity2" />
        <activity android:name=".cotroller.fragment.toutiao.TtrecyclerXQActivity"></activity>
        <activity android:name=".cotroller.fragment.toutiao.SetCityActivity"></activity>
      <activity android:name=".cotroller.fragment.life.WebViewActivity"/>
        <activity android:name=".cotroller.activity.FaXianPerfectActivity"></activity>
        <activity android:name=".cotroller.fragment.information.InforActivity" />

        <activity android:name=".cotroller.activity.shequ.SouSuoActivity"></activity>
        <activity android:name=".cotroller.fragment.naonao.detail.SquareNaonaoDetailActivity"/>
        <activity android:name=".cotroller.fragment.information.LevelActivity"/>
        <activity android:name=".cotroller.fragment.information.BlackActivity"/>
        <activity android:name=".cotroller.fragment.information.PhoneActivity"/>
        <activity android:name=".cotroller.fragment.information.MailActivity"/>
        <activity android:name=".cotroller.activity.naonao.NaoNao_Carmer_Activity"/>
        <activity android:name=".cotroller.fragment.information.PersonalActivity"/>
        <activity android:name=".cotroller.fragment.information.NotifyActivity"/>
        <activity android:name=".cotroller.fragment.information.PostActivity"/>
        <activity android:name=".cotroller.fragment.toutiao.MessageNotificationActivity" />
        <activity android:name=".cotroller.fragment.toutiao.MaillistActivity"></activity>
        <activity android:name=".cotroller.activity.naonao.Title_Detail_NaoNao_Activity"></activity>
        <activity
            android:name=".base.ScanActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
        <activity android:name=".cotroller.fragment.information.MedalActivity"/>
        <activity android:name=".cotroller.fragment.information.CityActivity"/>
        <activity android:name=".cotroller.fragment.information.TaskActivity"/>
        <activity android:name=".cotroller.fragment.information.CollectionActivity"/>
        <activity android:name=".cotroller.fragment.information.PrivilegeActivity"/>
        <activity android:name=".cotroller.fragment.information.PersonalTwoActivity"/>
    </application>

</manifest>